name: Build
on:
  workflow_dispatch:
    inputs:
      extended_targets:
        description: Build extended targets
        type: boolean
        required: false
        default: false
  workflow_call:
    inputs:
      extended_targets:
        description: Build extended targets
        type: boolean
        required: false
        default: false

  # push:
  #   branches:
  #     - main
  #     - dev

env:
  # The project name specified in your Cargo.toml
  PROJECT_NAME: santa

jobs:
  build:
    name: Build - ${{ matrix.name }}
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: linux-amd64
            runner: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            asset_name: santa
            command: cargo
          - name: linux-arm64
            runner: ubuntu-latest
            target: aarch64-unknown-linux-gnu
            asset_name: santa
            command: cross
          - name: win-amd64
            runner: windows-latest
            target: x86_64-pc-windows-msvc
            asset_name: santa.exe
            command: cargo
          - name: macos-amd64
            runner: macos-latest
            target: x86_64-apple-darwin
            asset_name: santa
            command: cargo
          - name: macos-arm64
            runner: macos-latest
            target: aarch64-apple-darwin
            asset_name: santa
            command: cargo

    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # ratchet:actions/checkout@v4

      - uses: ./.github/actions/setup-rust
        with:
          targets: "${{ matrix.target }}"

      - uses: ./.github/actions/install-tools
        with:
          tools: "just,cargo-binstall,cargo-udeps"

      # Only install cross if we need it
      # Install via cargo-binstall which is typically faster
      - name: Install Cross
        if: matrix.command == 'cross'
        uses: ./.github/actions/install-tools
        with:
          tools: "cross"

      - name: Build Binary
        run: ${{ matrix.command }} build --locked --release --target ${{ matrix.target }}

      - name: Prepare artifact path
        id: artifact
        shell: bash
        run: |
          if [[ "${{ matrix.command }}" == "cross" ]]; then
            echo "path=target/${{ matrix.target }}/release/${{ matrix.asset_name }}" >> $GITHUB_OUTPUT
          else
            echo "path=target/release/${{ matrix.asset_name }}" >> $GITHUB_OUTPUT
          fi

      - uses: actions/upload-artifact@ff15f0306b3f739f7b6fd43fb5d26cd321bd4de5 # ratchet:actions/upload-artifact@v3
        with:
          name: ${{ matrix.target }}
          path: ${{ steps.artifact.outputs.path }}
