name: PR Validation
on:
  workflow_dispatch:
  pull_request:
    branches: [main]

jobs:
  checks:
    name: PR Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # ratchet:actions/checkout@v4

      - uses: ./.github/actions/setup-rust
        with:
          components: "clippy,rustfmt"

      - uses: ./.github/actions/install-tools
        with:
          tools: "just,cargo-udeps,cargo-audit,cargo-deny"

      - name: Check formatting
        run: just format --check

      - name: Clippy check (lint)
        run: just lint

      - name: Debug build
        run: just build

      - name: Verify package
        run: just verify-package

      - name: Security audit
        run: just audit
