name: PR Validation
on:
  workflow_dispatch:
  pull_request:
    branches: [main]
  # push:
  #   branches: [main]

jobs:
  checks:
    name: PR Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: "clippy,rustfmt"

      - name: Setup Cache
        uses: Swatinem/rust-cache@v2
        with:
          # Determines whether workspace `target` directories are cached.
          # If `false`, only the cargo registry will be cached.
          # default: "true"
          cache-targets: true

          # Determines if the cache should be saved even when the workflow has failed.
          # default: "false"
          cache-on-failure: true

      - uses: taiki-e/install-action@v2
        with:
          tool: "just,cargo-udeps,cargo-audit,cargo-deny"

      - name: Check formatting
        run: |
          just format --check

      - name: Clippy check (lint)
        run:
          just lint

      - name: Debug build
        run: |
          just build

      - name: Run tests
        run: |
          just test

      - name: Security audit
        run: |
          just audit
